*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  */
.header{
    /* background-color: transparent !important; */
    position: absolute;
    z-index: 88;
    top: 0;
    width: 100%;
    height: 15vh;
    /* border-top: 2px solid var(--primary) !important; */
    border-bottom: 2px solid var(--secondary) !important;
    padding: 10px ;
    background-color: rgba(0,0,0,.5);

}
.header .call-info{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 3rem;
   text-transform: capitalize;
   /* margin: auto !important; */
}
.header .call-info .circle{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    border: .4px solid var(--primary);
    display: flex;
    justify-content: center;align-items: center;
    color: var(--primary) !important;
}
.header .call{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.header .nav-info{
    display: flex;
    flex-direction: row;
}

.header a{
    color: white !important;
}
/* hero section css */
.hero{
    background-image:linear-gradient(rgba(82, 82, 82, 0.5),transparent 50%),url(../img/Home1.jpg);
    height: 100vh;
    width: 100%;
    background-size: 100% 100%;
    position: relative;
    top: 0;
    background-position: center;
}
/* pickup section start */
.pickup{
    position:absolute;
    top: 40%;
    border-radius: 20px;
    width: 100%;
}
.pickup .input{
    border: none;
    outline: none;
}
.pickup .select{
    width: 100%;
}
.drop-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}
/* pickup section end */
/* card-container */
.card_container{
 z-index: -122;
}
.card_container .card{
    background-color:rgba(160, 99, 8,.7);
    display: flex;
    cursor: pointer;
    transition: all 1s ease-in-out;
    border-radius: 20px;
}
.card_container .card-body{
    overflow: hidden;
}

.card_container .card-content{
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.card_container .card:hover{
    transform: scale(1.3);
}
.card_container .card2{
    background-color: black;

}
/* service section css start */
.service .img{
    overflow: hidden;
}
.service .img img{
    transition: all .8s ease-in-out;
    cursor: pointer;
    
}
.service .img img:hover{
    transform: scale(1.2);
    opacity: .8;
}
/* service section css end */
/* holding section start */
.holding{
    background-color: var(--dark);
}

/* holding section end */
/* management section start */
.management .member-card{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1.2rem;
 cursor: pointer;
 transition: all .4s ease-in-out;
 position: relative;
}
.management .member-card:hover{
    box-shadow: 2px 3px 2px 2px lightgray;
}
.management .member-card .circle img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.management .member-card .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:40px 0px 0px 0px;

}
.box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.box img{
    border-radius: 50%;
}
.modal-box{
   position: fixed !important;
   top: 20px !important;
   width: 100%;
   height: 100%;
   margin: auto !important;
   z-index: 444444;
   background-color:white !important;
   display: flex;
   justify-content: center;
   align-items: center;
    gap: 30px;
    opacity: 1;
    display: none;
    transition: all .4s ease-in-out;
    scroll-behavior: smooth;
    overflow: scroll;
    padding-right: 50px;
}
.box .close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 10px;
}
.modal-box-show{
    display: flex;
    flex-wrap: wrap;
    box-shadow:2px 4px 4px 6px rgb(255, 255, 255) ;
    width: 90%;
    height: 100vh;
    border: 2px solid gray;
    margin: auto;
    opacity: 1 !important;
    top: 0;
    padding: 30px !important;
     
    
}
.network{
    background-image:url("../img/holidays1.png");
    width: 100%;
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
}
.fleet .fleetbtn {
    border-radius: 20px;
    background-color: rgb(6, 4, 35);
    border: 2px solid black !important;
    margin: 10px 3px !important;
    color: rgb(240, 240, 240) !important;
    padding: 10px;
    text-transform: capitalize;
}
.fleet{
    /* overflow: hidden; */
    /* position: relative; */
    /* width: 50%; */
    /* background-color: red; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fleet .fleetbtn:hover{
    color: white ;
    background-color: var(--primary) !important ;
}
.tablist{
    display: flex;
    /* width: 80%; */
    /* margin: auto; */
    justify-content: center;
    gap: 10px;
    position: relative;
    /* background-color: rebeccapurple; */
    align-items: center;
  flex-wrap: wrap;
}
.tablist::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: var(--primary);
}
.tablist::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: var(--primary);
}
.tabcontent-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
   overflow: hidden;
}
.tabcontent{
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    height: 100%;
    /* transition: all .3s; */
 
 
}

#tab1content{
  transform: translateX(0px);
  position: relative !important;
  left: 0;
  
}


.fleet .img-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
    padding: 10px;
    flex-direction: column;
    margin: 10px ;
}